.table_outer {
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
}

// ラベルの一覧ページ
.table_outer_labels {
  width: 40%;
  margin: 0 auto;
  margin-top: 75px;
}

.table {
  background-color: antiquewhite;
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

.table_second {
  margin-top: 80px;
}

td {
  word-wrap:break-word;
}
