.form_outer {
  margin-bottom: 20px;
}

.form_inner {
  background-color: white;
  padding: 15px;
  border-radius: 4px 4px 0 0;
}

// フィールド幅を変更
.form-short {
  width: 300px;
}

// チェックボックス位置を変更
.checkbox input {
  left: 20px;
}

// 登録するボタン
form .re_size {
  width: 100%;
  height: 36px;
  border-radius: 0 0 4px 4px;
}
