.pagination {
  margin: 9px 0;
}

.pagination .active a {
  background-color: yellowgreen;
  color: black;
  border-color: white;
 }

.pagination .active a:hover {
  background-color: yellowgreen;
  color: black;
  border-color: white;
}

.pagination .active a:focus {
  background-color: yellowgreen;
  color: black;
  border-color: white;
}

.pagination li a {
  color: black;
}

.pagination a {
  color: black;
}

// 各パネルの位置を上端で揃える
.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

// テキストを折り返してはみ出さないように改行
.panel-title {
  word-wrap: break-word;
}

.panel-body {
  word-wrap: break-word;
}

.panel-body a {
  color: black;
  font-weight: bold;
}

.border {
  border-bottom: 1px solid #dcdcdc;
  padding: 4px 0 4px 0; /* 内容と線との間隔量 */
}

// ラベルの幅を編集
.label {
  padding: .2em 2.6em .3em;
}
// ラベルとタスク詳細の間に隙間を空ける
.content-container {
  margin-top: 7px;
}
