doctype html
html
  head
    title
      | MyTask
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    header
      nav.container-fluid
        .row
          - if logged_in?
            .btn-group.navbar-left.col-xs-3.col-md-3[role="group" aria-label="..."]
              = link_to new_task_path, class: "btn btn-default" do
                span.glyphicon.glyphicon-plus[aria-hidden="true"]
                  = t("views.tasks.new.page")
              = link_to tasks_path, class: "btn btn-default" do
                span.glyphicon.glyphicon-th-list[aria-hidden="true"]
                  = t("views.tasks.index.page")
              .btn-group[role="group"]
                button.btn.btn-default.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
                  = t("views.tasks.index.sort")
                  span.caret
                ul.dropdown-menu
                  li
                    = link_to t("views.tasks.index.end_time_limit_sort"), tasks_path(etl_sort: "true")
                  li
                    = link_to t("views.tasks.index.priority_sort"), tasks_path(pri_sort: "true")
            = form_with(model: Task.new, url: search_tasks_path, method: :get, local: true, class: "navbar-form navbar-left col-xs-6 col-md-6") do |f|
              .form-group
                = f.label :title_search, t("views.tasks.index.title_search")
                = f.text_field :title, class: "form-control", placeholder: t("views.tasks.index.title_search_placeholder")
              .form-group
                = f.label :status_search, t("views.tasks.index.status_search")
                = f.select :status, Task.statuses_i18n.invert, include_blank: true, selected: "", class: "form-control"
              .form-group
                = f.label :label_search, t("views.tasks.index.label_search")
                = f.select :label_id, Label.all.map{ |label| [label.name, label.id] }, include_blank: true, selected: "", class: "form-control"
              = f.submit t("views.tasks.index.search"), class: "cp_btn"
            - if false
              = form_with(model: Task.new, url: tasks_path, method: :get, local: true) do |f|
                = f.label :title_search, t("views.tasks.index.title_search")
                = f.text_field :title
                = f.label :status_search, t("views.tasks.index.status_search")
                = f.select :status, Task.statuses_i18n.invert, include_blank: true, selected: ""
                = f.hidden_field :search, value: "true"
                = f.submit t("views.tasks.index.search")
            .btn-group.navbar-right.col-xs-2.col-md-2[role="group" aria-label="..."]
              - if current_user.admin?
                .btn-group[role="group"]
                  button.btn.btn-default.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
                    = t("views.layouts.admin_page")
                    span.caret
                  ul.dropdown-menu
                    li
                      = link_to t("views.layouts.users_page"), admin_users_path
                    li
                      = link_to t("views.layouts.labels_index_page"), admin_labels_path
              = link_to t("views.layouts.logout"), session_path(current_user.id), method: :delete, class: "btn btn-default"
          - else
            .col-xs-offset-1.col-xs-1.col-md-offset-1.col-md-1
              = image_tag("/images/logo.sm.png", size: "125x60")
    .wrapper
      - if logged_in?
        p.login_user
          = current_user.name
          = t("views.layouts.login_user")
      - flash.each do |message_type, message|
        |  <div class="alert alert-
        = message_type
        | ">
        = message
    = yield
